body {
    background-color: #fff;
}
.page {
    width: 1040px;
    margin: auto;
    background-color: #fff;
}
.browsers-icons img {
    float: left;
    margin-right: 20px;
}


.github-info {
}


#brand-name {
    line-height: 24px;
    margin-top: 2px;
}


hr {
    border: 0;
    border-bottom: 1px #ddd dotted;
    color: #ddd;
    background-color: #ddd;
}

.colorpickertable {
    border: 0;
    margin: 0;
    border-spacing: 1px;
    width: 140px;
}
.colorpickertile {
    border: 0;
    background-color: #888;
    width: 8px; height: 10px;
    padding: 0; margin: 0;
}
